<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>46902581326-h9atonjtqhgff8pgj3m7m7kunark20im.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46902581326-h9atonjtqhgff8pgj3m7m7kunark20im</string>
	<key>API_KEY</key>
	<string>AIzaSyD3OoiqAbDdbZWBR3qBiqjDiArUaviEp74</string>
	<key>GCM_SENDER_ID</key>
	<string>46902581326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yongsoo.instagramTutorial</string>
	<key>PROJECT_ID</key>
	<string>instagramtutorial-9c495</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramtutorial-9c495.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46902581326:ios:10a8fa1dad276f380a4b1f</string>
</dict>
</plist>